body {
  text-align: center;
  margin: auto;
}

.div {
  text-align: justify;
  display: inline-block;
  max-width: 30%;
  vertical-align: top;
  margin-left: 100px;
}

#quadrados {
  margin-top: 100px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: darkgreen;
  display: inline-block;
  background: darkgreen;
}

.box-empty {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0);
  display: inline-block;
}