.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 150px;
}

.flex {
  display: flex;
  border: 1px solid black;
  width: 267px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

.title {
  text-align: center;
}

@media only screen and (max-width: 556px) {
  body {
    background-color: lightblue;
  }
  .flex {
    width: 100%;
  }
  .image {
    margin-left: auto;
  }
}